# Exclude VSCode configs.
.vscode/

# Exclude build artifacts
build/
lib/
bin/
dist/
*.whl
*.egg-info/
*.o
*.so
*.so.*

# Exclude cache and temp files.
.cache/
.triton/
__pycache__/
*.pyc
torch_compile_debug/

# Exclude local env file.
*.env